<!-- Group 2-11
 
Login page: This page has a login box where users can enter an email and password
to login. There is also a button to register if user isn't in the database. 

-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Page</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include('partials/header') %>
  <div class="form-card">

    <h2>Login</h2>

    <% if (error_message && error_message !== "") { %>
      <div class="error-message"><%= error_message %></div>
    <% } %>

    <!-- Login post route -->
    <form action="/login" method="POST">
      <div class="form-row">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required autofocus>
      </div>

      <div class="form-row">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>

      <div class="form-row" style="margin-top: 20px;">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
      <!-- Redirect to register.ejs file -->
      <div class="form-row" style="margin-top: 10px;">
        <a href="/register" class="btn btn-secondary">Register</a>
      </div>

    </form>
  </div>
</body>
</html>
